[Unit]
Description=webapp Java Application
After=cloud-init.service
Wants=cloud-init.service

[Service]

ExecStart=/usr/bin/java -jar /opt/csye6225/app.jar --spring.config.name=application --spring.config.location=file:/home/admin/
Restart=always
User=csye6225
WorkingDirectory=/opt/csye6225/

[Install]
WantedBy=multi-user.target

